<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="/">
          <em class="fa fa-home"></em>
        </a>
      </li>
      <li class="active">Usuarios</li>
    </ol>
  </div><!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Usuarios existentes</h1>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Usuarios con acceso al sistema
          <%= button_tag 'Nuevo Usuario', type: 'button', class: 'btn btn-primary pull-right btn-new-user', onclick: "location.href='#{new_user_path}';" %>
        </div>
        <div class="panel-body">
          <div id="notice" class="alert bg-info <% if notice.nil? %>hidden<% end %>" role="alert">
            <em class="fa fa-lg fa-warning">&nbsp;</em> <%= notice %> <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Sucursal</th>
                <!-- <th>Apellido</th> -->
                <th>Email</th>
                <th>Código de sucursal</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |usuario| %>
                <tr>
                  <td align="center"><%= usuario.nombre.capitalize %></td>
                  <td align="center"><%= usuario.email %></td>
                  <td align="center"><%= usuario.codigo_sucursal %></td>
                  <td><%= link_to t(:edit), edit_user_path(usuario) %></td>
                  <td><%= link_to t(:destroy), usuario, method: :delete, data: { confirm: t(:user_delete_confirmation) } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div> 
</div>

<script>
  jQuery(document).ready(function(){
    activeMenuItem('users');
  });
</script>
