<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="/">
          <em class="fa fa-home"></em>
        </a>
      </li>
      <li class="active">Sucursales</li>
    </ol>
  </div><!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Ranking de Puntajes</h1>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Sucursales con mejores puntajes
        </div>
        <div class="panel-body">
          <% if !notice.nil? %>
            <div id="notice" class="alert bg-success" role="alert">
              <em class="fa fa-lg fa-warning">&nbsp;</em> <%= notice %> <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a>
            </div>
            <script>
              setTimeout(function(){ hideFlashMessage("#notice"); }, 1500);
            </script>
          <% end %>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Posición</th>
                <th>Sucursal</th>
                <!-- <th>Apellido</th> -->
                <th>Puntos del mes</th>
                <th>Puntos del año</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each_with_index do |usuario, index| %>
                <tr>
                  <td align="center"><%= index + 1 %>
                  <td align="center"><%= usuario.nombre.capitalize %></td>
                  <td align="center"><%= @points[usuario.id][0] %>
                  <td align="center"><%= @points[usuario.id][1] %>
                  <td><%= link_to t(:view_dashboard), tablero_objetivos_variables_path(codigo_sucursal: usuario.codigo_sucursal) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div> 
</div>

<script>
  jQuery(document).ready(function(){
    activeMenuItem('ranking');
  });
</script>
