<div class="panel panel-default">
  <div class="panel-heading"><%= t(:update_variable, variable: @variable.nombre) %></div>
  <div class="panel-body">
    
    <%= form_for(@variable, html: { role: 'form', onsubmit: 'changeSeparator("variable_valor_objetivo");changeSeparator("variable_proyeccion_mensual");changeSeparator("variable_porcentaje_proyectado")' }) do |f| %>
      <% if @variable.errors.any? %>
        <div id="error_explanation" class="row">
          <div class="col-lg-12">
            <div class="alert bg-danger" role="alert">
              <em class="fa fa-lg fa-warning">&nbsp;</em>
              <%= t(:error, count: @variable.errors.count) %>&nbsp;<%= t(:model_error, model: "la #{@variable.class}") %>
              <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a>

              <ul>
                <% @variable.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%= f.label :nombre %>
            <%= f.text_field :nombre, class: "form-control", placeholder: "Ingrese el nombre de la variable" %>
          </div>
          <div class="form-group">
            <%= f.label :puntaje %>
            <%= f.number_field :puntaje, class: "form-control", required: "required", min: 1 %>
          </div> 
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%= f.label :tipo %>
            <%= select("variable", "tipo", @variable.variable_types.collect {|vt| [vt.capitalize, vt] }, { include_blank: false }, { class: "form-control input-height", required: "required" }) %>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
           <div class="form-group chk-middle">
              <%= content_tag :label, class: "checkbox-container" do -%>
                  <%= f.check_box :inverse, class: "form-control check-inverse" %>
                  <%= t('activerecord.attributes.variable.inverse') %>
              <% end -%>
            </div>   
          </div>
          <% if !display_user_selector(@variable, :exclude).blank? %> 
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
              <div class="form-group">
                <button id="btn_add_objective" type="button" class="btn btn-primary center-button" data-toggle="modal" data-target="#addObjectiveToUser">Agregar objetivo</button>
              </div>
            </div>
          <% end %>

          <!--
          <div class="form-group">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding">
              <label for="users"><%= t(:user, count: 2, scope: [:activerecord, :models]) %></label>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <%= button_tag(t(:view_objective), onclick: "showObjectiveForm(jQuery('#usuario_id').val());", class: "btn-add-objective btn btn-lg btn-primary", type: "button", id: "view_objective") %>
            </div>
          </div>
          -->
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Objetivo fijado por Sucursal</h3>
          <div id="accordion" class="accordion-root" role="tablist" aria-multiselectable="false">
            <% index = 0 %>
            <% @hs_obj_by_usr.keys.each_with_index do |c_user, i| %>
                <script>
                  var idx = <%= i %>;
                </script>

                <div class="panel panel-default accordion-container <% if c_user.nil? %>hidden<% end %>" id="tab_<%= i %>">
                  <div class="panel-heading accordion-header" role="tab" id="heading_<%= i %>">
                    <h5 class="mb-0">
                      <a class="lnk-username" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= i %>" aria-expanded="true" aria-controls="collapse_<%= i %>">
                        <%= c_user.nombre unless c_user.nil? %>
                      </a>
                    </h5>
                  </div>
                  <div id="collapse_<%= i %>" class="collapse" role="tabpanel" aria-labelledby="heading_<%= i %>">
                    <div class="panel-body">
                      <div id="user_obj_<%= i %>">
                        <% @hs_obj_by_usr[c_user].each do |c_objetivo| %>
                          <%= hidden_field_tag("variable[objetivos_attributes][#{index}][id]", c_objetivo.id, id: "variable_objetivos_attributes_#{index}_id") %>
                          <%= hidden_field_tag("variable[objetivos_attributes][#{index}][user_id]", c_user.id, id: "variable_objetivos_attributes_#{index}_user_id") %>

                          <script>
                            var idx2 = <%= index %>
                          </script>

                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                              <div class="form-group">
                                <%= label_tag("variable_objetivos_attributes_#{index}_valor", "Valor") %>
                                <%= number_field_tag("variable[objetivos_attributes][#{index}][valor]", c_objetivo.valor, class: "form-control", required: "required", onblur: "changeSeparator(this.id)", step: 0.01) %>
                              </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                              <div class="form-group">
                                <%= label_tag("variable_objetivos_attributes_#{index}_mes", "Mes") %>
                                <%= select_month(c_objetivo.mes ? c_objetivo.mes : Date.today, { field_name: :mes, prefix: "variable[objetivos_attributes][#{index}]" }, {class: "form-control select-date", required: "required" }) %>
                              </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                              <div class="form-group">
                                <%= label_tag("variable_objetivos_attributes_#{index}_anio", "Año") %>
                                <%= select_year(Date.today, { field_name: :anio, prefix: "variable[objetivos_attributes][#{index}]", start_year: Date.today.year, end_year: Date.today.year+4 }, { class: "form-control select-date", required: "required", style: "text-transform: capitalize" }) %>
                              </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                              <div class="form-group btn-new-objetive">
                                <button id="btn_date_obj_<%= i %>" type="button" class="btn btn-lg btn-default" onclick="addDateObjetive(<%= i %>);">
                                  Nuevo
                                </button>
                              </div>
                            </div>
                          </div>
                          <% index += 1 %>
                        <% end %>

                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-buttons">
          <%= button_tag(t(:update), class: "btn btn-lg btn-success", type: "submit") %>
          <%= button_tag(t(:reset), class: "btn btn-lg btn-default", type: "reset") %>
        </div>
      </div>

    <% end %>

    <%= render 'modal_new_objective' %>
  </div>
</div>
