<div class="panel panel-default">
  <div class="panel-heading">Editando variable: <%= @variable.nombre %></div>
  <div class="panel-body">
    
    <%= form_for(@variable, html: { role: 'form', onsubmit: 'changeSeparator("variable_valor_objetivo");changeSeparator("variable_proyeccion_mensual");changeSeparator("variable_porcentaje_proyectado")' }) do |f| %>
      <% if @variable.errors.any? %>
        <div id="error_explanation" class="row">
          <div class="col-lg-12">
            <div class="alert bg-danger" role="alert">
              <em class="fa fa-lg fa-warning">&nbsp;</em>
              <%= t(:error, count: @variable.errors.count) %>&nbsp;<%= t(:model_error, model: "la #{@variable.class}") %>
              <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a>

              <ul>
                <% @variable.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%= f.label :nombre %>
            <%= f.text_field :nombre, class: "form-control", placeholder: "Ingrese el nombre de la variable" %>
          </div>
          <div class="form-group">
            <%= f.label :puntaje %>
            <%= f.number_field :puntaje, class: "form-control", required: "required", min: 1 %>
          </div> 
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <%= f.label :tipo %>
            <%= select("variable", "tipo", @variable.variable_types.collect {|vt| [vt.capitalize, vt] }, { include_blank: false }, { class: "form-control input-height", required: "required" }) %>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary center-button" data-toggle="modal" data-target="#addObjectiveToUser">Agregar objetivo</button>
          </div>
          <!--
          <div class="form-group">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 no-padding">
              <label for="users"><%= t(:user, count: 2, scope: [:activerecord, :models]) %></label>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <%= button_tag(t(:view_objective), onclick: "showObjectiveForm(jQuery('#usuario_id').val());", class: "btn-add-objective btn btn-lg btn-primary", type: "button", id: "view_objective") %>
            </div>
          </div>
          -->
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>Objetivo fijado por Sucursal</h3>
          <div id="accordion" class="accordion-root" role="tablist" aria-multiselectable="false">
            <%= f.fields_for :objetivos do |ff| %>
              <% c_user = ff.object.user %>
              <script>
                var idx = <%= ff.index %>;
              </script>

              <div class="panel panel-default accordion-container" id="tab_<%= ff.index %>">
                <div class="panel-heading accordion-header" role="tab" id="heading_<%= ff.index %>">
                  <h5 class="mb-0">
                    <a class="lnk-username" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= ff.index %>" aria-expanded="true" aria-controls="collapse_<%= ff.index %>">
                      <%= c_user.nombre + ' ' + c_user.apellido %>
                      <%= ff.hidden_field :id, value: ff.object.id %>
                    </a>
                  </h5>
                </div>
                <div id="collapse_<%= ff.index %>" class="collapse" role="tabpanel" aria-labelledby="heading_<%= ff.index %>">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <%= ff.label :proyeccion_mensual %>
                          <%= ff.number_field :proyeccion_mensual, class: "form-control", placeholder: "Proyección mensual", onblur: "changeSeparator(this.id)", step: 0.01 %>
                        </div>
                        <div class="form-group">
                          <%= ff.label :porcentaje_proyectado %>
                          <%= ff.number_field :porcentaje_proyectado, class: "form-control", placeholder: "Porcentaje proyectado", onblur: "changeSeparator(this.id)", step: 0.01 %>
                        </div> 
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                          <%= ff.label :valor %>
                          <%= ff.number_field :valor, class: "form-control", required: "required", onblur: "changeSeparator(this.id)", step: 0.01 %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= button_tag(t(:update), class: "btn btn-lg btn-success", type: "submit") %>
      <%= button_tag(t(:reset), class: "btn btn-lg btn-default", type: "reset") %>

    <% end %>

    <%= render 'modal_new_objective' %>
  </div>
</div>
