<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="/">
          <em class="fa fa-home"></em>
        </a>
      </li>
      <li><a href="/variables">Variables</a></li>
      <li class="active">Editar</li>
    </ol>
  </div><!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Variables Objetivo</h1>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Editando variable: <%= @variable.nombre %></div>
        <div class="panel-body">
          <div id="notice" class="alert bg-success <% if notice.nil? %>hidden<% end %>" role="alert">
            <em class="fa fa-lg fa-warning">&nbsp;</em> <%= notice %> <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a>
          </div>

          <div class="form-group">
            <label>Nombre:</label>
            <span><%= @variable.nombre %></span>
          </div>
          
          <div class="form-group">
            <label>Tipo:</label>
            <span><%= @variable.tipo.capitalize %></span>
          </div>

          <div class="form-group">
            <label>Proyección mensual:</label>
            <span><%= '$' if @variable.tipo == 'moneda' %><%= number_with_precision(@variable.proyeccion_mensual, precision: 2, separator: ',', delimiter: '.') %><%= '%' if @variable.tipo == 'porcentaje' %></span>
          </div>

          <div class="form-group">
            <label>Porcentaje proyectado:</label>
            <span><%= number_with_precision(@variable.porcentaje_proyectado, precision: 2, separator: ',', delimiter: '.') %>%</span>
          </div>

          <div class="form-group">
            <label>Valor objetivo:</label>
            <span><%= '$' if @variable.tipo == 'moneda' %><%= number_with_precision(@variable.valor_objetivo, precision: 2, separator: ',', delimiter: '.') %><%= '%' if @variable.tipo == 'porcentaje' %></span>
          </div>

          <div class="form-group">
            <label>Puntaje:</label>
            <span><%= @variable.puntaje %></span>
          </div>

          <h4><%= link_to t(:edit), edit_variable_path(@variable) %> | <%= link_to t(:back), variables_path %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
