<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="/">
          <em class="fa fa-home"></em>
        </a>
      </li>
      <li class="active">Tablero</li>
    </ol>
  </div><!--/.row-->
  <div class="row">
    <div class="col-xs-12 col-md-10 col-lg-9">
      <h3 class="page-header">Tablero de Objetivos del mes de <%= mes.nil? ? l(Time.zone.today, format: :only_month).capitalize : l(Date.parse("01/#{Date::MONTHNAMES[mes.to_i]}/#{anio}"), format: :only_month).capitalize %><% if @user != current_user %> para el usuario: <%= @user.nombre.capitalize %><% end %></h3>
    </div>
    <form method="get" action="<%= tablero_objetivos_variables_path(@user.codigo_sucursal) %>" role="form">
      <div class="col-xs-12 col-md-2 col-lg-1">
        <%= select_month(Date.today, { field_name: :mes }, {class: "form-control select-date-tablero", id: "cbo-mes" }) %>
      </div>
      <div class="col-xs-12 col-md-2 col-lg-1">
        <%= select_year(Date.today, { field_name: :anio, start_year: Date.today.year, end_year: Date.today.year+4 }, { class: "form-control select-date-tablero", style: "text-transform: capitalize" }) %>
      </div>
      <div class="col-xs-12 col-md-2 col-lg-1">
        <%= button_tag(t(:show), class: "btn btn-lg btn-success btn-tablero", type: "submit") %>
      </div>
     </form>
  </div><!--/.row-->

  <!--
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Estado actual de los Objetivos</div>
        <div class="panel-body">
          
        </div>
      </div>
    </div>
  </div>
  -->
  
  <% if !notice.nil? %>
    <div id="notice" class="alert bg-success" role="alert">
      <em class="fa fa-lg fa-warning">&nbsp;</em> <%= notice %> <a href="#" class="pull-right"><em class="fa fa-lg fa-close"></em></a>
    </div>
    <script>
      setTimeout(function(){ hideFlashMessage("#notice"); }, 1500);
    </script>
  <% end %>

  <div class="panel panel-container">
    <div class="row">

      <div class="col-xs-6 col-md-6 col-lg-6 no-padding">
        <div class="panel panel-teal panel-widget border-right">
          <div class="row no-padding"><em class="fa fa-xl fa-bullhorn color-teal"></em>
            <div class="large"><%= month_points %></div>
            <div class="text-muted-dashboard"><%= t(:point_of_month) %></div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6 no-padding">
        <div class="panel panel-blue panel-widget border-right">
          <div class="row no-padding"><em class="fa fa-xl fa-line-chart color-orange"></em>
            <div class="large"><%= year_points %></div>
            <div class="text-muted-dashboard"><%= t(:point_of_year) %></div>
          </div>
        </div>
      </div>

    </div><!--/.row-->
  </div>

  <% @tablero.in_groups_of(4, false) do |group| %>
    <div class="row">
      <% group.each do |c_variable| %>
        <% objetivo = c_variable.objetivo_by_user(@user, mes, anio) %>
        <% valor_objetivo = objetivo.nil? ? 0 : objetivo.valor %>
        <% value = c_variable.calculate_current_value(@user, mes, anio) %>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
              <h3><%= c_variable.nombre.upcase %><%= "(#{c_variable.graph_options[:symbol]})" unless c_variable.graph_options[:symbol].blank? %></h3>
              <p><b><%= c_variable.puntaje %> pts.</b></p>
              <% if !objetivo.nil? && objetivo.cumplido?(value) && !valor_objetivo.zero? %>
                <p class="trophy-icon"><i class="fa fa-trophy"></i></p>
              <% end %>
              <div id="gauge_<%= c_variable.id %>" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>

              <% if c_variable.inverse %>
                <%== inverse_gauge_graph(c_variable, valor_objetivo, value) %>
              <% else %>
                <%== gauge_graph(c_variable, valor_objetivo, value) %>
              <% end %>
              <!--<div class="easypiechart" id="easypiechart-blue" data-percent="92" ><span class="percent">92%</span></div>-->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @user != current_user %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= button_tag(t(:back), class: "btn btn-lg btn-default", type: "button", onclick: "location.href='#{ranking_usuarios_path}';") %>
      </div>
    </div>
  <% end %>

  <script>
    jQuery(document).ready(function(){
      activeMenuItem('dashboard');
      jQuery("#cbo-mes").val("<%= mes %>");
    });
  </script>
