<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @registro.fecha %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @registro.sucursal %>
</p>

<p>
  <strong>Variable:</strong>
  <%= @registro.variable %>
</p>

<p>
  <strong>Value:</strong>
  <%= @registro.value %>
</p>

<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>
